<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <servlet-class>controller.PesquisaCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaClienteController</servlet-name>
        <servlet-class>controller.PesquisaClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaConvenioController</servlet-name>
        <servlet-class>controller.PesquisaConvenioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaDistribuidorController</servlet-name>
        <servlet-class>controller.PesquisaDistribuidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <servlet-class>controller.PesquisaFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaItemVendaController</servlet-name>
        <servlet-class>controller.PesquisaItemVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <servlet-class>controller.PesquisaProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaVendaController</servlet-name>
        <servlet-class>controller.PesquisaVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterConvenioController</servlet-name>
        <servlet-class>controller.ManterConvenioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterItemVendaController</servlet-name>
        <servlet-class>controller.ManterItemVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterProdutoController</servlet-name>
        <servlet-class>controller.ManterProdutoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <servlet-class>controller.ManterFuncionarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterCategoriaController</servlet-name>
        <servlet-class>controller.ManterCategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterClienteController</servlet-name>
        <servlet-class>controller.ManterClienteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterDistribuidorController</servlet-name>
        <servlet-class>controller.ManterDistribuidorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterVendaController</servlet-name>
        <servlet-class>controller.ManterVendaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio1ConvenioController</servlet-name>
        <servlet-class>controller.Relatorio1ConvenioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio2ConvenioController</servlet-name>
        <servlet-class>controller.Relatorio2ConvenioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio1CategoriaController</servlet-name>
        <servlet-class>controller.Relatorio1CategoriaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Relatorio1ClienteController</servlet-name>
        <servlet-class>controller.Relatorio1ClienteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PesquisaCategoriaController</servlet-name>
        <url-pattern>/PesquisaCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaClienteController</servlet-name>
        <url-pattern>/PesquisaClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaConvenioController</servlet-name>
        <url-pattern>/PesquisaConvenioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaDistribuidorController</servlet-name>
        <url-pattern>/PesquisaDistribuidorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaFuncionarioController</servlet-name>
        <url-pattern>/PesquisaFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaItemVendaController</servlet-name>
        <url-pattern>/PesquisaItemVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaProdutoController</servlet-name>
        <url-pattern>/PesquisaProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaVendaController</servlet-name>
        <url-pattern>/PesquisaVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterConvenioController</servlet-name>
        <url-pattern>/ManterConvenioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterItemVendaController</servlet-name>
        <url-pattern>/ManterItemVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterProdutoController</servlet-name>
        <url-pattern>/ManterProdutoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterFuncionarioController</servlet-name>
        <url-pattern>/ManterFuncionarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterCategoriaController</servlet-name>
        <url-pattern>/ManterCategoriaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterClienteController</servlet-name>
        <url-pattern>/ManterClienteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterDistribuidorController</servlet-name>
        <url-pattern>/ManterDistribuidorController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterVendaController</servlet-name>
        <url-pattern>/ManterVendaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio1ConvenioController</servlet-name>
        <url-pattern>/Relatorio1ConvenioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio2ConvenioController</servlet-name>
        <url-pattern>/Relatorio2ConvenioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Relatorio1CategoriaController</servlet-name>
        <url-pattern>/Relatorio1CategoriaController</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>Relatorio1ClienteController</servlet-name>
        <url-pattern>/Relatorio1ClienteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
